<div class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
             <div class="left-side-bar">
                <h3>Buscar aqui</h3>
                <form action="">
                   <input type="text" class= "" placeholder="Buscar"> 
                   <button type="submit" class="">
                    <i class=""></i>
                   </button>
                </form>
             </div>


            </div>
            <div class="col-lg-9 col-md-12">
                <!--hotel listing  -->
                <div>hotels list </div>

            </div>
        </div>
    </div>
</div>