<!--search-->
<div class="home-area ">

    <div class="container">

        <div class="home-area-content">
            <h2>Hoteles en cualquier parte del mundo</h2>
            <p>Buscar Hoteles</p>
            <form action="">
                <div>
                    <div>
                        <div>
                            <label for="">Lugar</label>
                            <input type="text" placeholder="¿Hacia donde vas?">
                            <img src="" alt="buscar">
                        </div>
                        <div>
                            <label for="">Fecha Entrada</label>
                            <dp-date-picker theme="dp-material" placeholder="Agregar Fecha" [config]="datePickerConfig"required="" true></dp-date-picker>
                            <img src="" alt="calendario">
                        </div>
                        <div>
                            <label for="">Fecha Salida</label>
                            <dp-date-picker theme="dp-material" placeholder="Agregar Fecha" [config]="datePickerConfig"required="" true></dp-date-picker>
                            <img src="" alt="calendario">
                        </div>
                        <div>
                            <label for="">Pasajeros</label>
                            <input type="text" placeholder="Agregar">
                            <img src="" alt="calendario">
                        </div>
                        <div>
                            <button type="submit">
                                <i></i>
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>